@import "lesshat";

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-size: 16px;
  font-family: 'Open Sans', Arial, sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -mox-box-sizing: border-box;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
h2 {
  font-size: 20px;
  margin: 15px 0 30px;
  text-align: center;
}
h5 {
  font-size: 12px;
  margin-top: 15px;
  span {
    color: #c0392b;
    font-weight: bold;
  }
}
input[type='text'] {
  font-size: 15px;
  height: 36px;
  padding: 0 5px;
  text-align: center;
  width: 50px;
}
input[type='submit'] {
  background-color: #2980b9;
  border: 0 none;
  color: #fff;
  padding: 10px;
  &:hover {
    background-color: #3498db;
    cursor: pointer;
  }
}
.error {
  border: 1px solid #e74c3c;
  font-size: 14px;
  padding: 5px;
  text-align: center;
  -webkit-transition: opacity .25s;
  -moz-transition: opacity .25s;
  transition: opacity .25s;
  opacity: 0;
}
.mainContainer {
  margin: 0 auto;
  width: 600px;
}
.inputFields {
  text-align: center;
  verticle-align: bottom;
  label {
    display: inline-block;
    margin-right: 5px;
  }
  input {
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.resultBlock {
  margin-top: 30px;
  overflow: hidden;
  p {
    background-color: #34495e;
    color: #fff;
    float: left;
    padding-top: 5px;
    text-align: center;
    width: 25%;
    span {
      background-color: #ecf0f1;
      border-top: 1px solid #fff;
      color: #2980b9;
      display: block;
      margin-top: 5px;
      min-height: 35px;
      padding: 5px 0;
    }
  }
}